/* Registration Form Styles */

.register-body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8A0A0B;
}

.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 25%;
}

.register-title {
    color: #333;
    text-align: center;
}

.register-label, .register-input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.register-input, .register-textarea {
    padding: 15px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.register-button, .register-submit {
    display: block;
    width: 30%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    background-color: #8A0A0B;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
}

.register-button:hover, .register-submit:hover {
    background-color: #6B0809;
}

.register-link {
    text-align: center;
    display: block;
    margin-top: 20px;
    color: #8A0A0B;
}

.register-link:hover {
    text-decoration: underline;
}

.form-group {
    position: relative;
}

.password-criteria {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-sizing: border-box;
}

.password-criteria ul {
    list-style: none;
    padding-left: 0;
}

.recaptcha-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.criteria-icon {
    color: red;
    margin-right: 5px;
}

.criteria-met .criteria-icon {
    color: green;
}

.criteria-met {
    color: lightgray;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

/* Alert Message Styles */
.alert {
    text-align: center;
    color: white;
    background-color: #dc3545;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}