<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consent</title>
    <link rel="stylesheet" href="../../static/errors/error_stylesheet.css">
</head>
<body>
    <div class="error-container">
        <h1>Authorization Request</h1>
        <p>The application <strong>{{ client.name }}</strong> is requesting access to your account.</p>
        <p>Do you authorize this application to access your information?</p>

        <form method="post">
            <button type="submit" name="consent" value="approve" class="btn-primary">Authorize</button>
            <button type="submit" name="consent" value="deny" class="btn-secondary">Deny</button>
        </form>

        <a href="{{ url_for('main.index') }}" class="btn-primary">Return to Homepage</a>
    </div>
</body>
</html>