<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University of Agder Message Board</title>
    <link rel="stylesheet" href="../static/index_stylesheet.css">
    <script src="../static/messages/message_scripts.js"></script>
</head>
<body class="homepage-body">

<div class="homepage-header">
    <h1>University of Agder's Message Board</h1>
    <div class="auth-buttons-container">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('message.create_message') }}"><button class="homepage-button">Post a New Message</button></a>
            <a href="{{ url_for('auth.logout') }}"><button class="homepage-button">Log out</button></a>
        {% else %}
            <a href="{{ url_for('auth.login') }}"><button class="homepage-button">Log in to post a message</button></a>
        {% endif %}
    </div>
</div>

<div class="homepage-container">
    <h3 class="message-heading">Messages:</h3>
    {% for message in messages %}
    <div class="homepage-post">
        <h2><a href="{{ url_for('message.message', id=message.id) }}">{{ message.title }}</a></h2>
        <small>Posted by {{ message.author.username }} on {{ message.date_posted.strftime('%Y-%m-%d') }} | {{ message_comments[message.id]|length }} comments</small>
        <p>{{ message.content[:150] }}<span id="content-{{ message.id }}" style="display: none;">{{ message.content[150:] }}</span></p>
        <button id="toggle-{{ message.id }}" data-message-id="{{ message.id }}" class="homepage-button">Read More</button>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('message.message', id=message.id) }}" style="float: right;"><button class="homepage-button">Leave a Comment</button></a>
        {% else %}
            <small style="float: right;">Login to leave a comment.</small>
        {% endif %}
        {% if current_user.is_authenticated and current_user.id == message.author_id %}
            <button id="delete-message-{{ message.id }}" data-message-id="{{ message.id }}" class="homepage-button">Delete</button>
        {% endif %}
        <div class="comment-section">
            <h4>Comments:</h4>
            <div class="comments">
                {% if message_comments[message.id]|length == 0 %}
                    No comments yet. Be the first!
                {% endif %}
                {% for comment in message_comments[message.id] %}
                    <div class="comment-box">
                        <p class="comment-text">{{ comment.content }}</p>
                        <small class="comment-meta">Posted by {{ comment.author.username }} on {{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>