<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/trusted_stylesheet.css">
</head>
<body class="register-body">

<form method="post" class="register-container">
    <h2 class="register-title">Register at University of Agder</h2>
    {{ form.hidden_tag() }}
    <label class="register-label">Username:</label>
    {{ form.username(class='register-input') }}
    <label class="register-label">Password:</label>
    {{ form.password(class='register-input') }}
    <label class="register-label">Confirm Password:</label>
    {{ form.confirm(class='register-input') }}
    {{ form.submit(class='register-submit') }}
    <a href="{{ url_for('index') }}" class="register-link">Return to homepage</a>
</form>

</body>
</html>