<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify 2fa</title>
    <link rel="stylesheet" href="../static/trusted_stylesheet.css">
</head>
<body class="login-body">

<form method="post" class="login-container">
    <h2 class="login-title">Confirm TOTP code:</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
    <label class="login-label">Enter authenticator Code:</label>
    {{ form.totp_code(class='login-input') }}
    {{ form.submit(class='login-submit') }}
    <a href="{{ url_for('index') }}" class="login-link">Return to homepage</a>
</form>

</body>
</html>