<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Message | University of Agder</title>
    <link rel="stylesheet" href="../../static/trusted_stylesheet.css">
</head>
<body class="create-message-body">

<div class="create-message-container">
    <h1 style="text-align: center;">Create a New Message for University of Agder</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="create-message-flash-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('message.create_message') }}" method="post">
        <div>
            <label for="title" class="create-message-label">Subject:</label>
            <input type="text" id="title" name="title" class="create-message-input" placeholder="Enter Message Subject" required>
        </div>
        <div>
            <label for="content" class="create-message-label">Message:</label>
            <textarea id="content" name="content" class="create-message-textarea" rows="10" placeholder="Enter Message Content" required></textarea>
        </div>
        <button type="submit" class="create-message-submit">Publish Message</button>
    </form>

    <a href="{{ url_for('main.index') }}" class="create-message-link">Return to Message Board</a>
</div>

</body>
</html>