<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Message</title>
    <link rel="stylesheet" href="../../static/messages/edit_message_stylesheet.css">
</head>
<body class="edit-message-body">

<div class="edit-message-container">
    <h1 class="edit-message-h1">Edit Message</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="edit-message-flash-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('message.edit_message', message_id=message.id) }}" method="post">
        {{ form.hidden_tag() }}
        <label for="title" class="edit-message-label">Title:</label>
        <input type="text" id="title" name="title" class="edit-message-input" placeholder="Enter Post Title" value="{{ message.title }}" required>
        <label for="content" class="edit-message-label">Content:</label>
        <textarea id="content" name="content" class="edit-message-textarea" rows="10" placeholder="Enter Post Content" required>{{ message.content }}</textarea>
        <button type="submit" class="edit-message-submit">Update Post</button>
    </form>

    <a href="{{ url_for('message.message', id=message.id) }}" class="edit-message-link">Return to message</a>
</div>

</body>
</html>
