<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/auth/login_stylesheet.css">
</head>
<body class="login-body">

<form method="post" class="login-container">
    <h1 class="login-title">Log in</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
    {{ form.username(class='login-input', placeholder="Username") }}
    {{ form.password(class='login-input', placeholder="Password") }}
    {{ form.submit(class='login-submit') }}

    <a href="{{ url_for('auth.forgotten_password') }}" class="login-link">Forgot your password?</a>

    <a href="{{ url_for('auth.register') }}" class="login-link">Register as a new user</a>

    <!-- Separator Line with 'OR' in the middle -->
    <div class="login-or-separator">
        <span class="login-or-line"></span>
        <span class="login-or-text">OR</span>
        <span class="login-or-line"></span>
    </div>

    <div class="oauth-buttons">
        <a href="{{ url_for('oauth2.google_login') }}" class="login-google">
            <img src="../../static/images/google_logo.png" alt="Login with Google">
        </a>
        <br>
        <a href="{{ url_for('oauth2.github_login') }}" class="login-github">
            <img src="../../static/images/github_logo.png" alt="Login with GitHub">
        </a>
    </div>

    <a href="{{ url_for('main.index') }}" class="login-link">Return to homepage</a>
</form>

</body>
</html>
