<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../../static/auth/register_stylesheet.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="../../static/auth/auth_scripts.js"></script>
</head>
<body class="register-body">

<form id="registration-form" method="post" class="register-container">
    <h1 class="register-title">New user</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}

    {{ form.username(class='register-input', placeholder="Username") }}
    {{ form.email(class='register-input', placeholder="Email") }}
    {{ form.password(class='register-input', id='password', placeholder="Password") }}
    {{ form.confirm(class='register-input', id='confirm-password', placeholder="Confirm password") }}

    <div id="password-criteria" class="password-criteria">
        <p>Your password must:</p>
        <ul>
            <li id="criteria-length"><span class="criteria-icon">✘</span> Be at least 8 characters long</li>
            <li id="criteria-lower"><span class="criteria-icon">✘</span> Contain at least 1 lowercase character</li>
            <li id="criteria-upper"><span class="criteria-icon">✘</span> Contain at least 1 uppercase character</li>
            <li id="criteria-number"><span class="criteria-icon">✘</span> Contain at least 1 number</li>
            <li id="criteria-special"><span class="criteria-icon">✘</span> Contain at least 1 special character</li>
            <li id="criteria-match"><span class="criteria-icon">✘</span> Match</li>

        </ul>
    </div>

    <div class="recaptcha-container">
        <div class="g-recaptcha" data-sitekey="6LeasiApAAAAABO4lLeLyxG9wtQzKG3HuUyAmvd2"></div>
    </div>

    <button type="submit" class="register-submit">Register</button>

    <a href="{{ url_for('auth.login') }}" class="register-link">Return to login</a>
</form>

</body>
</html>