<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify 2fa</title>
    <link rel="stylesheet" href="../../static/auth/verify_2fa_stylesheet.css">
</head>
<body class="verify-2fa-body">

<form method="post" class="verify-2fa-container">
    <h1 class="verify-2fa-title">Confirm TOTP code:</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
    <label class="verify-2fa-label">Enter authenticator Code:</label>
    {{ form.totp_code(class='verify-2fa-input') }}
    {{ form.submit(class='verify-2fa-submit') }}
    <a href="{{ url_for('main.index') }}" class="verify-2fa-link">Return to homepage</a>
</form>

</body>
</html>